DOCKER_DB_DATABASE=arc
DOCKER_DB_USER=arc
DOCKER_DB_PASSWORD=changem3please
DOCKER_DB_ROOT=reallychangethisplease
APP_ROOT=/home/tobias/usr/arc/service
HTTP_PORT=8300
BRANCH=develop
MAILER_SMTP_PORT=8301
MAILER_ADMIN_PORT=8302
