<VirtualHost *:80>
	ServerName voucher-store.{{ arc_domainname }}
	ServerAdmin webmaster@localhost
	DocumentRoot /var/www/arc/ARCVService-{{ arc_version[1:] }}/public

	ErrorLog ${APACHE_LOG_DIR}/voucher-store-error.log
	CustomLog ${APACHE_LOG_DIR}/voucher-store-access.log combined

    RewriteEngine on
    RewriteCond %{REQUEST_METHOD} ^(TRACE|TRACK)
    RewriteRule .* - [F]

    <Directory /var/www/arc/ARCVService-{{ arc_version[1:] }}/public>
        Options -Indexes +FollowSymLinks
        AllowOverride All
    </Directory>
</VirtualHost>
# vim: syntax=apache ts=4 sw=4 sts=4 sr noet
